<h1><%= @tournament.name %>　大会情報</h1>

<div class="row justify-content-center">
  <div class="col-6">
    <table class="table">
      <tr>
        <th>開催日</th>
        <td><%= @tournament.schedule %></td>
      </tr>
      <tr>
        <th>大会会場</th>
        <td><%= @tournament.venue %></td>
      </tr>
      <tr>
        <th>参加費</th>
        <td>
          <table>
            <% @tournament.tournament_classes.map do |t_class| %>
              <tr>
                <td><%= t_class.name %></td><td><%= t_class.fee %></td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    </table>

    <p>詳細な大会情報は全日本かるた協会のホームページもしくはメーリングリストをご参照ください</p>
  </div>
</div>
