<h1><%= current_tournament.name %> 選手一覧</h1>

<div class="row justify-content-center">
  <div class="col-6">
    <%= link_to '全件csv出力', admin_root_path(format: :csv), class: 'btn btn-block btn-info' %>

    <% @tournament_classes.each do |t_class| %>
      <h3 class="mt-5">
        <%= t_class.name %><%= "(#{t_class.players.size}名)" %>  <%= link_to 'csv出力', admin_root_path(tournament_class_id: t_class.id, format: :csv), class: 'btn btn-sm btn-info' %>
      </h3>
      <table class="table">
        <tr>
          <th>かるた会</th>
          <th>氏名</th>
          <th>段位</th>
          <th>学校名</th>
          <th>学年</th>
        </tr>
        <% t_class.players.each do |player| %>
          <tr>
            <td><%= player.team.name %></td>
            <td><%= player.full_name %></td>
            <td><%= player.rank %></td>
            <td><%= player.parsed_extra_attributes["school_name"] %></td>
            <td><%= player.parsed_extra_attributes["school_year"] %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
