<h1><%= @rank %>級出場申込</h1>

<%= form_tag entries_team_path(rank: @rank) do %>
  <% if @error_messages.present? %>
    <div class="row justify-content-center">
      <div class="col-8">
        <p class="alert alert-danger text-center">入力エラーが存在します</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-4">
        <ul>
          <% @error_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-8">
      <table class="table table-bordered table-striped table-hover">
        <tr>
          <th>氏</th>
          <th>名</th>
          <th>氏(ふりがな)</th>
          <th>名(ふりがな)</th>
        </tr>
        <% @players.each do |player| %>
          <tr class="player-form-row <%= "bg-danger" if player.errors.full_messages.present? %>">
            <td class="p-1"><%= text_field_tag 'players[][last_name]',       player.last_name,       class: 'form-control' %></td>
            <td class="p-1"><%= text_field_tag 'players[][first_name]',      player.first_name,      class: 'form-control' %></td>
            <td class="p-1"><%= text_field_tag 'players[][last_name_kana]',  player.last_name_kana,  class: 'form-control' %></td>
            <td class="p-1"><%= text_field_tag 'players[][first_name_kana]', player.first_name_kana, class: 'form-control' %></td>
          </tr>
        <% end %>
      </table>
      <%= button_tag '入力欄を追加', type: 'button', class: 'btn btn-secondary', id: 'add_form_button' %>
      <%= submit_tag '参加申込', class: 'btn btn-primary btn-block mt-4' %>
    </div>
  </div>
<% end %>

<script type="text/html", id="form_template">
    <td class="p-1"><%= text_field_tag 'players[][last_name]',       nil, class: 'form-control' %></td>
    <td class="p-1"><%= text_field_tag 'players[][first_name]',      nil, class: 'form-control' %></td>
    <td class="p-1"><%= text_field_tag 'players[][last_name_kana]',  nil, class: 'form-control' %></td>
    <td class="p-1"><%= text_field_tag 'players[][first_name_kana]', nil, class: 'form-control' %></td>
</script>

<script>
  $(function(){
    var button   = $('#add_form_button');
    button.click(function(){
      var template = $('#form_template').html();
      var table    = $('table');
      var row      = $('<tr>').html(template)
      table.append(row);
    });
  });
</script>
